<% provide(:title,"About")%>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | PocketMoney App</title>
  </head>
  <body>
    <h1>Pocketmoney#about</h1>
    <p>
    railsチュートリアル復習の為だけに作成
    </p>
  </body>
</html>