<div class="center jumbotron">
  <h1>PocketMoney App</h1>

  <h2>This is the home page<h2>

  <%= link_to "Sign up now!",'#',class: "btn btn-lg btn-primary" %>
</div>
  <p>
ここにユーザー名や画像、過去の小遣いページリンクを載せる予定
</p>